header{
    height: 100px;
    box-shadow: 0px 0px 5px #bbbbbb;
    display: flex;
    align-items: center
}

header img{
    height: 75px;
}

body{
    margin: 0px;
}
.container,header{
    padding-left: 200px;
    padding-right: 200px;
}
nav{
    display: flex;
    flex-direction: row;
}
nav a{
    flex-basis: 25%;
    text-align: center;

    padding-top: 24px;
    padding-bottom: 24px;
    text-decoration: none;
}

.row {
    display: flex;
    flex-direction: row;
  }
  
  .col{
    padding: 12px;
    flex-basis: 50%;
  }

  .col h4{
      margin-top: -5px;
  }
  
.row .col img, table{
    width: calc((100vw/2) - 200px);
  }

  table,th,td{
    padding: 12px;
    border-collapse: collapse;
    text-align: center;
  }

thead{
      background-color: #73909e;
      color: #ffffff
  }

tbody tr:nth-child(even) {background-color: #EAEFF2;}

.col-2 img{
    width: calc((100vw/3) - 200px);
  }
  
.col-10 {
    padding-left: 12px;
  }
  
.news-element {
    margin-top:36px;
  }
  
footer {
    margin-top: 36px;
    padding: 12px;
    box-shadow: 0px 0px 2px #bbbbbb;
  }
  
footer a {
    margin: 24px;
    text-decoration: none;
  }
  
  
.more {
    float: right;
    text-decoration: none;
  }
  
#small{
      width: 30%;
      height: 30%;
  }

#img1,#img2,#img3,#img4,#img5{
    width: 50%;
}

.image-text{
    position: absolute;
    top: 55%;
    left: 17%;
    color: antiquewhite;
}

.image-text p{
    width: 40%;
    text-align: center;
    color: antiquewhite;
}

.weathernewspic{
    height: 100%;
}

.second-table{
    width: 100%;
}